<script src="/assets/js/validator.js"></script>
{{#if friend}}
<script src="/socket.io/socket.io.js"></script>
<script src="/assets/js/chat1v1.js"></script>
<script src="https://cdn.lordicon.com/libs/mssddfmo/lord-icon-2.1.0.js"></script>
<div class="overlayImg">
    <div class="row marginEndRow-0">
        <div class="col-lg-3 border col-md-4">
            <header class="mt-3 ms-2 d-flex">
                <div class="">
                    <div class="d-flex align-items-center">
                        <img src="/assets/images/picachu.jpg" alt="anh dai dien" class="avatarMe rounded-circle"> 
                        <h4>Chats</h4>
                    </div>
                </div>
                <div class="d-flex justify-content-end">
                    <div class="me-2">
                        <a href="#" class="rounded-circle border border-secondary borderIcon d-block"><i class="fas fa-ellipsis-h iconTripleDotted"></i></a>&nbsp;
                    </div>
                    <div class="me-2">
                        <a href="/" class=""><i class="fab fa-facebook-messenger nav-link fa-lg"></i></a>
                    </div>
                </div>
            </header>
            <input class="form-control mr-sm-2 rounded-pill shadow-none mb-2" id="searchFriends" type="search" placeholder="Search" aria-label="Search">
            <div class="containerWrapPreview">
                {{{renderCol1 listChat}}}
            </div>
            <div class="containerWrapSearch"></div>
        </div>
        <div class="col-lg-6 col-md-8 border d-none d-md-flex flex-column min-vh-100" id="wrapCol2">
            <header class="mt-2 border-bottom p-2 headerCol2">
                <div class="d-flex align-items-center">
                    <div class="logoAndMessagePreview">
                        <div class="d-sm-flex">
                            <img src="/assets/images/picachu.jpg" alt="avatar" class="avatarSmallSize rounded-circle">
                            <div class="d-sm-block">
                                <h6 id="nameFriendCol2">{{friend.displayName}}</h6>
                                <span>Online</span>
                            </div>
                        </div>
                        
                    </div>
                    <div class="d-flex">
                        <a href="#"><i class="fas fa-phone-alt me-3"></i></a>
                        <a href="#"><i class="fas fa-video me-3"></i></a>
                        <a href="#" class=""><i class="fas fa-ellipsis-h border rounded-circle p-1 backGroundWhite"></i></a>
                    </div>
                </div>
            </header>
            <input type="text" id="usernameSocket" name="username" value="{{user.displayName}}" hidden>
            <div class="contentCol2" id="contentCol2">
                {{{renderContentLastChat arrContentChat you}}}
                {{!-- <p class='message__container'>
                    <span class='content-message rounded-pill' style='background-color:rgb(0, 66, 233);'>SAU NÀY đồng nghĩa với KHÔNG BAO GIỜ!</span> :Bạn
                </p><br>
                <p class='message__container-1'>Nhật Tân:
                    <span class='content-message-1'> quy luật trong những ngày như vậy chúng ta không biết đến quy luật của LeBlanc: SAU NÀY đồng nghĩa với KHÔNG BAO GIỜ!</span>
                </p><br>
                <p class='message__container'>
                    <span class='content-message rounded-pill' style='background-color:rgb(0, 66, 233);'>SAU NÀY đồng nghĩa với KHÔNG BAO GIỜ!</span> :Bạn
                </p><br> --}}
            </div>
            
            <footer class="mt-auto footerCol2">
                <div id="listDocument"></div>
                <div class="" id="listImg"></div>
                <div class="d-flex align-items-center">
                    <form action="" id="formUploadDocument" method="post" enctype="multipart/form-data">
                        <a href="#" id="btnUploadDocument"><i class="fas fa-plus-circle me-2 iconFooterCol2"></i></a>
                        <input type="file" name="files[]" id="fileDocument" hidden multiple>
                    </form>
                    <form action="" id="formUploadImg" method="post" enctype="multipart/form-data">
                        <a href="#" id="btnUploadImage"><i class="fas fa-file-upload me-2 iconFooterCol2"></i></a>
                        <input type="file" name="files[]" id="fileImage" hidden accept=".jpg, .png, .jpeg" multiple>
                    </form>
                    <div class="form-inline mt-2 mb-1 w-100">
                        <textarea class="form-control shadow-none rounded-pill me-sm-2" id="inputMessage" rows="1"></textarea>
                    </div>
                    <button id="btnSendMessage" class="btn btn-primary ms-2 rounded-circle"><i class="fas fa-thumbs-up ms-2 iconFooterCol2"></i></button>
                </div>
                
            </footer>
        </div>

        <div class="col-lg-3 border d-none d-lg-block align-center" id="wrapCol3">
            <header class="mt-3">
                <div class="wrapColumn3">
                    <div>
                        <img src="/assets/images/picachu.jpg" alt="anh dai dien" class="avatarMediumSize rounded-circle">
                    </div>
                    <div id="nameFriendCol3">
                        {{friend.displayName}}
                    </div>
                    <div>
                        <i class="fas fa-circle green"></i>
                    </div>
                </div>
            </header>

            <div class="">
                <div class="wrapContentCol3 ms-2 me-2">

                    <div class="wrapItemsCol3">
                        <div class="itemsCol3 d-flex justify-content-between align-items-center mt-3 mb-3">
                            <div class="options">Cài đặt chat</div>
                            <div class="iconOptionDropdown"><a class="btnDropdown"><i class="fas fa-chevron-down"></i></a></div>
                        </div>
                        <div class="dropdownCol3 dropdownHidden">
                            <div class="">Xóa đoạn chat</div>
                            <div class="">Tìm kiếm tin nhắn</div>
                        </div>
                    </div>
                    <div class="wrapItemsCol3">
                        {{!-- <div class="itemsCol3 d-flex justify-content-between align-items-center mt-3 mb-3">
                            <div class="options">Thành viên trong đoạn chat</div>
                            <div class="iconOptionDropdown"><a class="btnDropdown"><i class="fas fa-chevron-down"></i></a></div>
                        </div>
                        <div class="dropdownCol3 dropdownHidden">
                            <div class="d-flex align-items-center justify-content-between mb-2 mt-2">
                                <div class="d-flex justify-content-start align-items-center">
                                    <img src="/assets/images/picachu.jpg" alt="anh dai dien" class="avatarMe rounded-circle me-2">Nguyễn Sang
                                </div>
                                <div class="">
                                    <i class="fas fa-ellipsis-h border rounded-circle p-1 backGroundWhite"></i>
                                </div>
                            </div>
                            <div class="d-flex align-items-center justify-content-between mb-2 mt-2">
                                <div class="d-flex justify-content-start align-items-center">
                                    <img src="/assets/images/picachu.jpg" alt="anh dai dien" class="avatarMe rounded-circle me-2">Nguyễn Sang
                                </div>
                                <div class="">
                                    <i class="fas fa-ellipsis-h border rounded-circle p-1 backGroundWhite"></i>
                                </div>
                            </div>
                            <div class="d-flex align-items-center justify-content-between mb-2 mt-2">
                                <div class="d-flex justify-content-start align-items-center">
                                    <img src="/assets/images/picachu.jpg" alt="anh dai dien" class="avatarMe rounded-circle me-2">Nguyễn Sang
                                </div>
                                <div class="">
                                    <i class="fas fa-ellipsis-h border rounded-circle p-1 backGroundWhite"></i>
                                </div>
                            </div>
                        </div> --}}
                    </div>
                <div class="wrapItemsCol3">
                    <div class="itemsCol3 d-flex justify-content-between align-items-center mt-3 mb-3">
                            <div class="options">Tệp được chia sẻ</div>
                            <div class="iconOptionDropdown"><a class="btnDropdown"><i class="fas fa-chevron-down"></i></a></div>
                        </div>
                        <div class="dropdownCol3 dropdownHidden">
                            <div class="fw-bold">B1809399.docx</div>
                            <div class="fw-bold">BaoCaoNhom.ptpx</div>
                        </div>
                </div>
                    <div class="wrapItemsCol3">
                        <div class="itemsCol3 d-flex justify-content-between align-items-center mt-3 mb-3">
                            <div class="options">Video và ảnh được chia sẻ</div>
                            <div class="iconOptionDropdown"><a class="btnDropdown"><i class="fas fa-chevron-down"></i></a></div>
                        </div>
                        <div class="dropdownCol3 dropdownHidden">
                            <div class="">Đổi chủ đề</div>
                            <div class="">Thay đổi biểu tượng cảm xúc</div>
                            <div class="">Chỉnh sửa biệt danh</div>
                            <div class="">Tìm kiếm tin nhắn</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
<script>

    $(document).ready(function(){
        $('#headerMain').css('display','none');
        $('#footerMain').css('display','none');
    });
    var heightHeader = $('.headerCol2').outerHeight();
    var widthFooterCol2 = $('.footerCol2').innerWidth();
    //alert(heightHeader);
    var heightFooter = $('.footerCol2').outerHeight();
    var heightInputMessage = $('#inputMessage').outerHeight();
    var heightBrowser = $(window).outerHeight();
    var heightContenCol2 = heightBrowser - heightHeader - heightFooter-50;
    
    $(".contentCol2").animate({
        scrollTop: $('.contentCol2').get(0).scrollHeight
    }, 1);
    $('.contentCol2').css("height", heightContenCol2+'px');
    //alert(heightContenCol2);
    //console.log($('.dropdownShow'));
    $('.wrapItemsCol3').each(function(){
        var statusDropdown=0;
        //console.log($(this).parent().parent().parent().children('.dropdownCol3').text());
        $(this).on('click',function(){
            //console.log($(this).parent().parent().parent().children('.dropdownCol3').text());
            //alert($(this).text());
            if(statusDropdown==0){
                $(this).children('.dropdownCol3').removeClass('dropdownHidden');
                $(this).children('.dropdownCol3').addClass('dropdownShow');
                statusDropdown=1;
            }
            else{
                $(this).children('.dropdownCol3').removeClass('dropdownShow');
                $(this).children('.dropdownCol3').addClass('dropdownHidden');
                statusDropdown=0;
            }
        })
    });
    var lastClicked = 0;
    $('.wrapPreview').click(function(e){
        e.preventDefault();
        var timeNow = (new Date()).getTime();
        if (timeNow > (lastClicked + 3000)) {
            var idFriend = $(this).attr('id');
            var totalStr=``;
            $('.contentCol2').html(``);
            $.post('/chat/checkMess',{idFriend},function(data){
                console.log(data);
                alert(data);
                if(data.length > 0){
                    var arrContentChat = data._id;
                    var infoFriend =  data.idFriend;
                    console.log(infoFriend);
                    var you = $('#usernameSocket').val();
                    for(var element of data){
                        console.log(you,element);
                        if(element.from==you){
                            totalStr+=`<p class='message__container'>
                                        <span class='content-message rounded-pill' style='background-color:rgb(0, 66, 233);'>${element.content}</span> :Bạn
                                    </p><br>`;
                            $('#nameFriendCol2').text(element.to);
                            $('#nameFriendCol3').text(element.to);
                        }
                        else{
                            alert($('#nameFriendCol2').text());
                            $('#nameFriendCol2').text(element.from);
                            $('#nameFriendCol3').text(element.from);
                            totalStr+=` <p class='message__container-1'>${element.from} :
                                        <span class='content-message-1'>${element.content}</span>
                                    </p><br>`
                        }
                        $('.contentCol2').append(totalStr);
                    }
                }
            });
        }
        lastClicked = timeNow;
        
    });

    ////////////////////////////////
   
    $('#btnUploadImage').click(function(e){
        e.preventDefault();
        $('#fileImage').click();
    });
    $('#btnUploadDocument').click(function(e){
        e.preventDefault();
        $('#fileDocument').click();
    });
    var numberImageInLine = Math.round(widthFooterCol2/50,0);
    $('#fileImage').change(function(){
        //alert($('#fileImage')[0].files.length);
        var lengthFile = $(this)[0].files.length;
        if(lengthFile>numberImageInLine){
            var rowImage = Math.ceil(lengthFile/numberImageInLine);
            heightContenCol2 -= 50*rowImage; //50 la chieu cao cua image
            $('.contentCol2').css("height", heightContenCol2+'px');
        }
        $("#listImg").html('');
        for (var i = 0; i < lengthFile; i++) {
            $("#listImg").append('<img src="'+window.URL.createObjectURL(this.files[i])+'" width="50px" height="50px" class="me-1 border"/>');
        }
    });
    $('#fileDocument').change(function(){
        //alert($('#fileImage')[0].files.length);
        var lengthFile = $(this)[0].files.length;
        var rowDocument = lengthFile;
        $("#listDocument").html('');
        for (var i = 0; i < lengthFile; i++) {
            $("#listDocument").append(`<div class="itemNameDocument">${this.files[i].name}</div>`);
        }
        var heightDocument = $('.itemNameDocument').outerHeight();
        heightContenCol2 -= heightDocument*rowDocument; //50 la chieu cao cua image
        $('.contentCol2').css("height", heightContenCol2+'px');
    });
    $('#searchFriends').on('keyup',function(e){
        var findFriends = $(this).val(); 
        if(findFriends.length>0){
            $('.containerWrapPreview').hide();
        }
        else{
            $('.containerWrapPreview').show();
        }
        if(e.keyCode==13){
            if(findFriends.length>0){
                $('.containerWrapSearch').html('');
                $.post('/findFriends/chat1v1',{findFriends:findFriends},function(data){
                    for(var element of data){
                        $('.containerWrapSearch').append(`<div class="wrapPreviewNew d-flex align-items-center mb-3" id=${element._id}>
                                                                <div class="logoAndMessagePreview ms-2 mt-1 d-flex">
                                                                    <img src="${element.avatar}" alt="logoGroup" class="avatarCol1 rounded-circle">
                                                                    <div class="">
                                                                        <h6>${element.displayName}</h6>
                                                                        <span>Trò chuyện ngay nào!</span>
                                                                    </div>
                                                                </div>
                                                            </div>`);
                    }
                    $('#searchFriends').on('keyup',function(e){
                        $('.containerWrapSearch').html('');
                    });
                    $('.wrapPreviewNew').click(function(e){
                        e.preventDefault();
                        var timeNow = (new Date()).getTime();
                        if (timeNow > (lastClicked + 3000)) {
                            var idFriend = $(this).attr('id');
                            var totalStr=``;
                            var you = $('#usernameSocket').val();
                            $('.contentCol2').html(``);
                            $.post('/chat/checkMess',{idFriend},function(data){
                                if(data.length>0){
                                    var arrContentChat = data._id;
                                    var infoFriend = data.idFriend;
                                    console.log(infoFriend)
                                    $('#nameFriendCol2').text(infoFriend.displayName);
                                    $('#nameFriendCol3').text(infoFriend.displayName);
                                    for(var element of arrContentChat){
                                        if(element.from==you){
                                            totalStr+=`<p class='message__container'>
                                                        <span class='content-message rounded-pill' style='background-color:rgb(0, 66, 233);'>${element.content}</span> :Bạn
                                                    </p><br>`;
                                        }
                                        else{
                                            totalStr+=` <p class='message__container-1'>${element.from} :
                                                        <span class='content-message-1'>${element.content}</span>
                                                    </p><br>`
                                        }
                                        $('.contentCol2').append(totalStr);
                                    }
                                }
                            });
                        }
                        lastClicked = timeNow;
                    })
                });
            }
        }
    });
    
</script>
{{else}}
<div class="text-center">
    <h2>Bạn chưa có bạn bè hãy kết bạn để trò chuyện nào!</h2>
    <a href="/findFriends" class="text-center text-decoration-none"><h3>Đến trang tìm kiếm bạn bè</h3></a>
</div>
{{/if}}